*~
*.decode
*.log
*.pcap
*.pyc
*.qcow2
/buildroot/
/output-buildroot/
/iproute2/
/linux/
/output-linux/
__pycache__/
/linux-torvalds/
/linux-stk/
/tests/trex
/tests/external_libs
/tests/trex_stl_lib
/tests/podman-trex-extract/
/tests/trex-external-libs
/.ccls-cache/
/root-key*
/exec-pytest.log
