.dir-locals.el
.flake8rc
*~
*.csv
*.decode
*.log
*.pcap
*.pyc
*.qcow2
*.svg
/.ccls-cache/
/buildroot/
/coverage.info
/iptfs.info
/exec-pytest.log
/output-buildroot/
/iproute2/
/linux/
/output-linux/
__pycache__/
/linux-torvalds/
/linux-stk/
/saved*
/test-logs/
/tests-trex/trex
/tests-trex/external_libs
/tests-trex/trex_stl_lib
/tests-trex/podman-trex-extract/
/venv
/sandbox/*
!/sandbox/*.c
/future/
/old/
/results/
/FlameGraph/
