[tool.pylint.messages_control]
disable = [
  "broad-except",
  "consider-using-f-string",    # this would also be nice, but too much
  "consider-using-with",        # this would be nice if it wasn't so simple
  "duplicate-code",
  "fixme",
  "import-outside-toplevel",
  "invalid-name",               # sometimes 1 char variable names are fine
  "missing-function-docstring", # would be nice, a pipe-dream really
  "too-few-public-methods",
  "too-many-arguments",
  "too-many-branches",
  "too-many-instance-attributes",
  "too-many-lines",
  "too-many-locals",
  "too-many-return-statements",
  "too-many-statements",
  "unknown-option-value",
]
max-line-length = 88

[tool.pytest.ini_options]

addopts = "-s"
asyncio_mode = "auto"
norecursedirs = "tests/manual tests/podman-trex-extract tests/trex*"

testpaths = [
        "tests",
]

log_level = "INFO"
log_format = "%(asctime)s,%(msecs)03d %(levelname)s: %(name)s: %(message)s"
log_date_format = "%Y-%m-%d %H:%M:%S"

# If verbose is specifyied log_cli will be set to 1, it can also be specified
# here or on the CLI.
# log_cli = 1
log_cli_level = "INFO"
log_cli_format = "%(asctime)s,%(msecs)03d %(levelname)s: %(name)s: %(message)s"
log_cli_date_format = "%Y-%m-%d %H:%M:%S"

log_file = "exec-pytest.log"
log_file_level = "DEBUG"
log_file_format = "%(asctime)s,%(msecs)03d %(levelname)s: %(name)s: %(message)s"
log_file_date_format = "%Y-%m-%d %H:%M:%S"